body { 
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#main_container {
    display: grid;
}

#buttons {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

#alg_radio {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #3bdf3bdc;
    border-style: double;
    border-width: 2px;
    width: 180px;
}